@media only screen
and (min-width: 768px){
  body{
    background-color: #eee;
  }
  #masthead {
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 990px;
    z-index: 10;
    background-image: url('graphics/sections.png');
    background-position: center -245px;
    margin: 0;
	  padding: 2.5rem 0 8.2rem;
  }
  #site-navigation li{
    display: inline;
  }
  #site-navigation li a{
    margin-right: 1rem;
  }
  #content {
    position: relative;
  }
  .splash{
    position: fixed;
    height: 600px;
    width: 100%;
    background-color: #373434;
    background: linear-gradient(to bottom, #191717 0%,#373434 45%,#373434 75%,#191717 100%); /* W3C */
  }
  .splash p{
    position: fixed;
    text-align: center;
    padding-top: 300px;
    width: 100%;
  }
  .splash p span{
    font-size: 30px;
    display: block;
  }
  .index{
    position: relative;
    top: 600px;
    background: #000;
  }
  .work-row{
    -webkit-perspective: 2000;
    -webkit-perspective-origin: 50% 900px;
    -webkit-transform: rotateX(0deg);
    positon: relative;
  }
  .work-row .inner{
    -webkit-transform-origin: 0 360px;
    -webkit-backface-visibility: hidden;
  }
  .work-row .work-thumb{
    position: relative;
    z-index: 1;
    float: left;
    background: #fff;
  }
  .work-row svg{
    position: absolute;
    z-index: 0;
    width: 100%;
  }
}
